.navbar {
  background: #3b0a45;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #00ffae;
}

.search {
  flex: 1;
  margin: 0 20px;
  padding: 8px;
  font-weight: 800px;
  border-radius: 8px;
  border: none;
  background-color: #000000;
}

.icons i {
  margin-left: 15px;
  cursor: pointer;
  padding: 6px;
  border-radius: 20px;
  transition: 0.1ms;
  font-size: 18px; /* 👈 opcional, para que se vean más grandes */
  color: white;    /* 👈 color base */
}

/* Hover */
.icons i:hover {
  border: 2px solid #41dc97;
  background: #19486e;
  color: #41dc97; /* 👈 que cambie el colorcito */
}

/* Activo */
.icons i.active {
  border: 2px solid #41dc97;
  background: #19486e;
  color: #41dc97;
}
