.sidebar-right {
  background: rgba(25, 10, 40, 0.7);
  border: 1px solid var(--verde);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

.sidebar-right:hover {
  border-color: var(--amarillo);
  box-shadow: 0 0 10px var(--amarillo);
}

.sidebar-right button {
  background: var(--azul);
  border: 2px solid var(--verde);
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.sidebar-right button:hover {
  background: var(--verde);
  color: black;
}
