.sidebar-left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2px;
  gap: 20px;
}

.box {
  background: #3b0a45;
  border: 2px solid gold;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
}

.box h3 {
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
}

.box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 5px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

/* Ícono de usuario en círculo con estilos especiales */
.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid #00ffae;
  background: #19486e;
  color: #00ffae;
  border-radius: 50%;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.icon-circle:hover {
  background: #00ffae;
  color: #19486e;
}

/* Botón de seguir (queda igual) */
.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid gold;
  background: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn-circle:hover {
  background: gold;
  color: black;
}
