
.app-container {
  width: 200px ;
  height: 100px;
  background: #0d0d0d;
  flex-direction: column;
  display: grid;
}

.main-layout {
  display: grid;
  grid-template-columns: 250px 800px 1px 25px;
  gap: 200000000px;
  padding: 200px;
}