/* Contenedor general */
.app-container {
  display: flex;
  flex-direction: column; /* nav arriba */
  min-height: 100vh;
  width: 100%;
  background: #0d0d0d;
}

/* GRID PRINCIPAL */
.main-layout {
  display: grid;
  grid-template-columns: 250px 1fr 250px; /* Izquierda - Centro - Derecha */
  gap: 20px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  align-items: flex-start; /* todo alineado arriba */
}


/* Responsivo */
@media (max-width: 1024px) {
  .main-layout {
    grid-template-columns: 200px 1fr; /* sidebar der oculto */
  }
}

@media (max-width: 768px) {
  .main-layout {
    grid-template-columns: 1fr; /* solo contenido */
  }
}
