html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'League Spartan', sans-serif;
  color: white;
  overflow-x: hidden;
  background: none; /* 🚫 eliminamos el negro base */
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
